html {
    font-family: -apple-system, Helvetica, arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5em; /* `em` is not recommended by MDN */
    
    /* -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%; */

    /* font-size: 15px;
	margin: 7px;
	padding: 0; */
}

body {
    margin: 0;
}

a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
}

a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, Helvetica, arial, sans-serif;
}

h1 {
    line-height: 1.2em;
}

img {
    max-width:100%;
    height:auto;
} 

#profile_pic{
    max-width: 30%;
    float: right;
    margin-left: 20px;
}

.hidden { 
    display: none;
}

.wrap {
    max-width: 700px;
    margin: 0 auto;
}

#landing {
    max-width: 700px;
    margin: 100px auto;
}

#landing ul#links {
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 20px 0;
}

#landing ul#links li {
    font-family: -apple-system, helvetica, arial, sans-serif;
    margin-right: 25px;
    padding-bottom: 5px;
}

#landing ul#links li a:hover {
    text-decoration: none;
}

#landing ul#links li#contact {
    font-family: courier;
    margin: 0;
    padding-top: 5px;
}

#landing .section ul {
    padding-left: 15px;
}

.nav {
    margin-top: 15px;
    margin-bottom: 15px;

    line-height: 24px;
    /* Matches publications nav line-height. */
}

.nav a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    border-bottom: none;
    font-size: 12px;
}

.nav a:hover {
    font-weight: bold;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 10px;
}

#blog,
.tag-page {
    margin-top: 80px;
    margin-bottom: 100px;
}

#blog #intro,
.tag-page #intro {
    font-size: 14px;
    font-style: italic;
    line-height: 1.4em;
    margin-bottom: 40px;
}

#blog .quote,
.tag-page .quote {
    margin-bottom: 30px;
}

#blog .quote p,
.tag-page .quote p {
    margin-bottom: 5px;
}

#blog .post-date,
.tag-page .post-date {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

#blog .post-title,
.tag-page .post-title {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0;
}

#blog .post-title a,
.tag-page .post-title a {
    font-size: 18px;
    text-decoration: none;
}

#blog .post-title a:hover,
.tag-page .post-title a:hover {
    text-decoration: underline;
}

#blog .post-subtitle,
.tag-page .post-subtitle {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.5em;
}

#blog .year,
.tag-page .year {
    font-size: 18px;
    position: relative;
    right: 100px;
    color: rgba(0, 0, 0, 0.5);
    width: 100px;
    margin-bottom: -24px;
}

#blog #y2017.year,
.tag-page #y2017.year,
#blog #y2018.year,
.tag-page #y2018.year {
    margin-top: 0px;
}

#blog ul#tag-nav,
.tag-page ul#tag-nav {
    padding: 0 0 30px 0;
    line-height: 1.3em;
}

#blog ul#tag-nav span,
.tag-page ul#tag-nav span {
    font-size: 14px;
    display: inline-block;
    padding-right: 15px;
}

#blog ul#tag-nav li,
.tag-page ul#tag-nav li {
    display: inline;
    padding-right: 10px;
}

#blog ul#tag-nav li a,
.tag-page ul#tag-nav li a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

#blog #more,
.tag-page #more {
    font-size: 15px;
    padding-top: 40px;
}

#blog #more a,
.tag-page #more a {
    font-weight: bold;
}


.content {
    margin-bottom: 120px;
}

.front-matter {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.front-matter h4 {
    font-family: -apple-system, Helvetica, arial, sans-serif;
}

.front-matter .bylines .byline {
    margin-right: 20px;
    /* float: left; */
}

.front-matter .bylines .byline h3,
.front-matter .bylines .byline p {
    margin: 0;
    font-family: -apple-system, Helvetica, arial, sans-serif;
}

.front-matter .bylines .byline h3 {
    font-size: 9px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

.front-matter .bylines .byline p {
    font-size: 10px;
    line-height: 1.6em;
}

.front-matter-image {
    background-size: 100%;
}

.front-matter-image img {
    width: 100%;
}

.front-matter-image h4 {
    font-family: -apple-system, Helvetica, arial, sans-serif;
}

.front-matter-image .bylines .byline {
    margin-right: 20px;
    float: left;
}

.front-matter-image .bylines .byline h3,
.front-matter-image .bylines .byline p {
    margin: 0;
    font-family: -apple-system, Helvetica, arial, sans-serif;
}

.front-matter-image .bylines .byline h3 {
    font-size: 9px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

.front-matter-image .bylines .byline p {
    font-size: 10px;
    line-height: 1.6em;
}

/* .clear {
    clear: both;
} */


.article {
    font-size: 15px;
    line-height: 1.6em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    margin-bottom: 50px;
}

.article blockquote {
    margin: 0;
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
}

.article h2 {
    font-size: 26px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 1rem;
    padding-top: 1em;
}

.article .figure-no-caption {
    margin-bottom: 40px;
    margin-top: 40px;
}

.article .figure-no-caption .caption {
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
}

.article .figure {
    border-top: 1px solid hsla(0, 0%, 0%, 0.2);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
    padding: 20px 0;
}

.article .figure .caption {
    padding-top: 15px;
    display: inline-block;
    font-size: 13px;
    line-height: 1.2em;
}

.article .figure .caption-label {
    font-weight: bold;
}

.article .footnote {
    line-height: 0;
}

.article div.highlight {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: 1.3em;
}

.article ul {
    padding: 0 15px;
}

#bibliography {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#bibliography ol.bibliography {
    padding-left: 15px;
    padding-top: 30px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 700px) {
    body {
        margin: 0 7px;
    }

    .front-matter-image {
        display: none;
    }
}


#about_footer {
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 2rem;            /* Footer height */
  }

#about_footer div{
    /* width: max-content; */
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    font-style: italic;
    color: rgba(90, 90, 90, 0.8)
}

#about_footer a {
    color: rgba(90, 90, 90, 0.8);
    text-decoration: underline;
}

#about_footer a:hover {
    text-decoration: none;
}
  