<!doctype html>
<html> <!-- use lang attr in html tag -->

  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name='author' content='Kishan Joshi' />
    <meta
        name="description"
        content="This blog site contains blogs on object-centric learning and compositionality." />
    
    <link rel='shortcut icon' href='/assets/images/favicon-16x16.png' />
    
    <!-- for responsive webpage -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/trac.css" />
    
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    {% feed_meta %}
    {% seo %}

    <!-- {# % include mathjax.html %} -->
  </head>



  <body>
    {% include navigation.html %}    
    {{ content }}
  </body>
</html>